.page_footer {
    background: $mainColor;
    display: grid;
    grid-template-columns: 50px auto auto auto auto 50px;
    height: 7em;
    text-transform: uppercase;
    font-size: 1em;
    color: darkgray;
    & a {
        text-decoration: none;
        color: darkgray;
    }
    & a:hover {
        color: $secondColor;
    }
}

.page_footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 2 / 6;

}

.footer_nav {
    align-self: center;
    width: 100%;
    justify-content: space-between;
    &_list {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        & a {
            padding-left: 10em;
        }
    }
}
@media #{$mobile} {
    .page_footer {
        height: 10em;
        font-size: .5em;
    }
    .footer_nav {
        &_list {
            & a {
                padding-left: 3em;
            }
        }
    }
}